a {
	text-decoration: none;
	color: $linkColor;
	cursor: pointer;

	&:hover {
		color: darken($linkColor, 30%);
	}
}

button {
	cursor: pointer;
	border: none;
	padding: 10px 20px;
	background-color: $btnColor;

	&:hover {
		background-color: darken($btnColor, 20%);
	}	

	&:active {
		background-color: darken($btnColor, 30%);
	}
}

button, a {
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
