@import 'fonts';
@import 'variables';

body {
	font-family: Roboto, sans-serif;
	margin: 0;
	background-color: $backgroundColor;
	color: $textColor;
}

.body {
	padding: 20px 0px 20px 20px;
	background-color: white;
}

.content {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.container {
    width: 1200px !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.clearfix {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.snug-fit-cell {
	width:1%;
    white-space:nowrap;
}

.vertical-middel-align {
	vertical-align: middle;
}

.pull-right {
	float: right;

	&:after {
		@extend .clearfix;
	}
}

.pull-left {
	float: left;

	&:after {
		@extend .clearfix;
	}
}

.hidden {
	display: none;
}

@import 'animations';
@import 'grid';
@import 'text';
@import 'input';
@import 'buttons';
@import 'space';
@import 'views/footer';
@import 'views/header';
@import 'views/posts';
