@import 'fonts';
@import 'variables'; 

body {
	font-family: Roboto, sans-serif;
	margin: 0;
	background-color: $backgroundColor;
	color: $textColor;
}

.pageContent {
	padding: 20px 20px 20px 20px;
	background-color: white;
}

.page {
	//width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.container {
    //width: 960px !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.clearfix {	
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;	
	}	
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

.snug-fit-cell {
	width:1%;
    white-space:nowrap;
}

.vertical-middel-align {
	vertical-align: middle;
}

.pull-right {
	float: right;	
	@extend .clearfix;	
}

.pull-left {
	float: left;
	@extend .clearfix;	
}

.hidden {
	display: none;
}

//*, *:after, *:before{
//	-webkit-box-sizing: border-box;
//	-moz-box-sizing: border-box;
//	box-sizing: border-box;
//}

@import 'animations';
@import 'grid';
@import 'text';
@import 'input';
@import 'buttons';
@import 'space';
@import 'tables';
@import 'accordion';
@import 'test';
@import 'flexbox';
@import 'views/footer';
@import 'views/header';
@import 'views/posts';
@import 'views/reports';
@import 'views/schedules';
