$gridPadding: 1em;

// Colors
$borderColor: #eaeaea;
$fontColor: black;
$backgroundColor: #2e2e2e;
$textColor: black;
$linkColor: #859ce6;

$inputBgColor: #fbfafa;
$inputBorderColor: #eaeaea;

$disabledBtn: darken($inputBorderColor, 10%);
$btnColor: #859ce6
