.about
	h2 Author:
	h3 Christian Svejstrup

	a(href="https://plus.google.com/+ChristianSvejstrup/posts?rel=author", target="_blank") 
		img(src="images/new-g-plus-icon-vector.png", width="50px")

	a(href="https://dk.linkedin.com/pub/christian-svejstrup/60/9ba/436/", target="_blank")
		img.linkedin(src="images/linkedin-icon-logo-vector.png", width="58px")
