h1 About
h2 Author:
h3 Christian Svejstrup
a(href="https://plus.google.com/+ChristianSvejstrup/posts?rel=author") Google
br
a(href="https://dk.linkedin.com/pub/christian-svejstrup/60/9ba/436/") LinkedIn
