.header
	a(href="#") Home
	a(href="#/posts") Posts
	a(href="#/schedules") Scheduling	
	a(href="#/reports") Reports	
	a.pull-right.last(href="#/about") About
	a.pull-right(href="#/comments") Comments
	a.pull-right(href="#/login") Login
