.header.flex-header
	.first
		a(href="/") Home
		a(href="posts") Posts
		a(href="schedules") Scheduling	
		a(href="reports") Reports
		a(href="stopwatch") Stopwatch
		a(href="hundredBeers") 100 Bajere
	
	.last
		a(href="login") Login
		a(href="comments") Comments	
		a.lastItem(href="about") About
