.index.flex-index(ng-controller="IndexCtrl")	
	div
		h3	
			strong This is my personal playground for web technologies	
		h3
			strong Feel free to look around :)
		p Technologies used:
		ul 
			li NodeJS
			li ExpressJS
			li Jade template engine
			li MongoDB
			li MongoSkin
			li Mongoose
			li AngularJS
			li Sass
			li Grunt - The JavaScript Task Runner	
	div
		img(src="images/Svejstruplogo1.gif", width="400px;")