extends layout
block body	
	.page(ng-controller="BaseCtrl")
		div(ng-include="'partials/header.jade'")
		.pageContent											
			div(ng-view)
		div(ng-include="'partials/footer.jade'")	
	script(src="http://code.jquery.com/jquery-1.10.2.min.js")
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
	script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.min.js')	
	script(src='js/app.js')
	
	script(src='js/services.js')
	script(src='js/services/stopwatchService.js')
	script(src='js/directives.js')
	script(src='js/controllers/BaseCtrl.js')
	script(src='js/controllers/IndexCtrl.js')
	script(src='js/controllers/LoginCtrl.js')
	script(src='js/controllers/posts/PostsCtrl.js')
	script(src='js/controllers/posts/AddPostCtrl.js')
	script(src='js/controllers/posts/DeletePostCtrl.js')
	script(src='js/controllers/posts/EditPostCtrl.js')
	script(src='js/controllers/posts/ReadPostCtrl.js')
	script(src='js/controllers/schedules/SchedulesCtrl.js')
	script(src='js/controllers/reports/ReportsCtrl.js')
	script(src='js/controllers/reports/AddReportCtrl.js')
	script(src='js/controllers/reports/ReadReportCtrl.js')
	script(src='js/controllers/comments/CommentsCtrl.js')	
	script(src='js/controllers/stopwatch/StopwatchCtrl.js')	
	script(src='js/filters.js')
	script(src='js/routes.js')	