.reports(ng-controller="ReportsCtrl")
	h2 Reports
	ul		
		li
			a(href='#addReport') Add a new report
		li
			a(ng-click="DeleteReports()") Delete all reports
	p There are {{reports.length}} reports
	
	input(type="checkbox", ng-model="accordCheck", ng-click="check()", id="accordCheck")
	label(for="accordCheck") Vertical- or horizontal accordion?
		
	.accordion(ng-class="accordType")
		section(ng-repeat="report in reports")				
			h2
				a(ng-click="Accordion($event)", id="{{report._id}}") {{report.Title}}				
			p {{report.Text}}
	
	div
		table
			thead
				tr
					th Subject
					th Title
					th Text
					th Date Created
					th Date Updated
					th State
			tbody
				tr
					td Website
					td When is scheduling comming?
					td I would like to have that function!
					td 1/1/2000
					td 2/1/2000
					td Not seen
				tr
					td Website
					td When is scheduling comming?
					td I would like to have that function!
					td 1/1/2000
					td 2/1/2000
					td Not seen
				tr
					td Website
					td When is scheduling comming?
					td I would like to have that function!
					td 1/1/2000
					td 2/1/2000
					td Not seen
				tr
					td Website
					td When is scheduling comming?
					td I would like to have that function!
					td 1/1/2000
					td 2/1/2000
					td Not seen