.hundredBeers {		

	.persons {
		margin-right: 30px;
	}

	input {
		&.margBut {
			margin-bottom: 10px;
		}
	}

	.edit {				
		margin-top: 50px;
	}

	button {
		margin-right: 10px;
	}
	
	a {
		font-size: 12px;
	}

}