.posts p {
  margin-top: 0; }
.posts .shortText {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 4em; }
.posts .postFormat {
  text-align: center;
  box-shadow: 0 0 5px #888888;
  background-color: #eaeaea;
  min-width: 200px;
  margin: 10px;
  flex: 1; }
.posts .rightMarg {
  margin-right: 10px; }
